#register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  text-align: center;
}
#register-form {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#register-form > input {
  width: 30rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
}

.error-show {
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  visibility: hidden;
}
@media (max-width: 535px) {
  #register-form > input {
    width: 80vw;
  }
}
