.footer {
  margin-top: 10rem;
  padding-bottom: 2rem;
  background-color: rgb(48, 48, 48);
  padding-top: 2rem;
  min-width: 18rem;
}
.FootermegaLink {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.FootermegaLink ul > li {
  list-style: none;
}
.FootermegaLink ul > li > a {
  text-decoration: none;
  color: white;
}
.FootermegaLink ul > li > a:hover {
  text-decoration: underline;
}
#footer-title {
  padding-left: 2rem;
  display: flex;
  margin-top: 2rem;
}
#footer-title-text {
  color: rgb(136, 136, 136);
}
#footer-title-text::before {
  content: 'F';
  font-size: 3rem;
  color: #dddddd;
}
#footer-last-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
@media (min-width: 668px) and (max-width: 1020px) {
  .FootermegaLink {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 379px) and (max-width: 667px) {
  .FootermegaLink {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 378px) {
  .FootermegaLink {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 460px) {
  #footer-last-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  }
}
